<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>

  <div class="video-container">
    <video autoplay loop muted>
      <source src="{{ url_for('static', filename=video_url) }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="overlay-text">
    <p id="text"></p>
    <div class="input-container" id="inputContainer">
      <form action="/submit" method="post">
        <input type="text" name="text_prompt" placeholder="What do you pick...">
      </form>
    </div>
  </div>

  <script>
    const textElement = document.getElementById('text');
    const textContent = "You're a brave knight in the realm of dragons. You see a dragon guarding a cave with hidden treasure. What do you want to do? \n 1. Ride the dragon \n 2. Run for your life \n 3. Battle the beast";
    let index = 0;
    let textAnimation = null;

    function displayText() {
      textElement.textContent += textContent[index];
      index++;
      if (index < textContent.length) {
        textAnimation = setTimeout(displayText, 100);
      } else {
        document.getElementById('inputContainer').style.display = 'block';
        document.getElementById('text_prompt').focus();
      }
    }

    function stopAnimation() {
      clearTimeout(textAnimation);
    }

    displayText();
  </script>

</body>
</html>
